doctype
html
	head
		meta(charset='utf-8')
		title #{title}
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/index.css" rel="stylesheet")
	body
		.main
			h1 #{title}
			h3 全局配置
			.container
				.row
					

			h3 局部配置
			.container
				.row#Jresult

		
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		script(src="/js/index.js")